<% const d = new Date() %>
<% let year = d.getFullYear() %>
<footer>
    <p class="copyright">© <%= year %>, CSE Motors</p>
    <p><a href="/error" title="Generate an error">Test Error</a></p>
</footer>