<div aria-label="CSE Motors main container" class="container" role="main">

    <header class="header-content" aria-label="Site header">
        <h1>CSE Motors</h1>
        <ul class="account-links" aria-label="Account navigation">
            <% if (locals.user) { %>
                <li><a href="/account/logout" class="account-link">Logout (<%= user.account_email %>)</a></li>
            <% } else { %>
                <li><a href="/account/login" class="account-link">Login</a></li>
                <li><a href="/account/register" class="account-link">Register</a></li>
            <% } %>
        </ul>
    </header>