    <h1><%= title %></h1>
    <h2>Welcome to CSE Motors!</h2>
    <section aria-label="Delorean introduction" class="intro">
        <div class="intro-container">
          <picture>
            <source media="(max-width: 767px)" srcset="/images/vehicles/delorean-tn.jpg">
            <img alt="DMC Delorean" class="intro-img" src="/images/vehicles/delorean.jpg" width="300" height="150">
          </picture>
          <div class="intro-text">
            <a aria-label="Learn more about DMC Delorean" href="#" class="intro-title">DMC Delorean</a>
            <span>3 Cup holders</span>
            <span>Superman doors</span>
            <span>Fuzzy dice!</span>
            <a aria-label="Own Today" class="btn-own" href="#" role="button">Own Today</a>
          </div>
        </div>
      </section>
    <section class="sections">
      <div aria-label="Delorean Upgrades" class="upgrades">
        <h3>Delorean Upgrades</h3>
        <div class="upgrade-items">
          <div class="upgrade-item">
            <a aria-label="Learn more about Flux Capacitor" href="#">
              <img alt="Flux Capacitor" src="/images/upgrades/flux-cap.png" width="80" height="60" loading="lazy">
            </a>
            <p>Flux Capacitor</p>
          </div>
          <div class="upgrade-item">
            <a aria-label="Learn more about Flame Decals" href="#">
              <img alt="Flame Decals" src="/images/upgrades/flame.jpg" width="80" height="60" loading="lazy">
            </a>
            <p>Flame Decals</p>
          </div>
          <div class="upgrade-item">
            <a aria-label="Learn more about Bumper Stickers" href="#">
              <img alt="Bumper Stickers" src="/images/upgrades/bumper_sticker.jpg" width="80" height="60" loading="lazy">
            </a>
            <p>Bumper Stickers</p>
          </div>
          <div class="upgrade-item">
            <a aria-label="Learn more about Hub Caps" href="#">
              <img alt="Hub Caps" src="/images/upgrades/hub-cap.jpg" width="80" height="60" loading="lazy">
            </a>
            <p>Hub Caps</p>
          </div>
        </div>
      </div>
      <div aria-label="Delorean Reviews" class="reviews">
        <h3>DMC Delorean Reviews</h3>
        <ul>
          <li>"So fast it's almost like traveling in time." (4/5)</li>
          <li>"Coolest ride on the road." (4/5)</li>
          <li>"I'm feeling McFly!" (5/5)</li>
          <li>"The most futuristic ride of our day." (4.5/5)</li>
          <li>"80's livin and I love it!" (5/5)</li>
        </ul>
      </div>
    </section>
